---
layout: base
---
.jumbotron
  %h1 Welcome to OpenIndiana Docs!
  %p Here you will find the latest systems documentation from the OpenIndiana project.
  %p
    %a.btn.btn-primary.btn-lg{ :href=>"#{site.base_url}/pages/contrib/contribute.html" } 
      %i.icon-info-sign.icon-white
      Contribute &raquo;

.container-fluid
  .row
    .col-md-4
      %h2 OpenIndiana FAQ
      %p The OpenIndiana FAQ is a living document which answers frequently asked non-technical questions about the OpenIndiana project and it's software.
      %p
        %a.btn.btn-primary.btn-lg{ :href=>"#{site.base_url}/pages/docs/faq.html" } View doc &raquo;
    .col-md-4
      %h2 OpenIndiana Handbook
      %p The OpenIndiana Handbook is a living document which aims to provide basic HOWTO guidance for new users unfamiliar with OpenIndiana Hipster.
      %p
        %a.btn.btn-primary.btn-lg{ :href=>"#{site.base_url}/pages/docs/handbook.html" } View doc &raquo;
    .col-md-4
      %h2 OpenSolaris Books
      %p The OpenSolaris Redistributable Books are a collection of 41 titles originally released by the OpenSolaris project in 2009. The OpenIndiana Docs team is currently reviewing these titles for revision.
      %p
        %a.btn.btn-primary.btn-lg{ :href=>"#{site.base_url}/pages/books/index.html" } View doc &raquo;
