---
layout: base
---
.container-fluid
  .row
    .col-md-3
      %h2 Roles 
      %p Placeholder for information about roles.
      %p
        %a.btn.btn-primary.btn-lg{ :href=>"#{site.base_url}/pages/contrib/roles.html" } View doc &raquo;
    .col-md-3
      %h2 Tools
      %p Placeholder for information about tools.
      %p
        %a.btn.btn-primary.btn-lg{ :href=>"#{site.base_url}/pages/contrib/tools.html" } View doc &raquo;
    .col-md-3
      %h2 Workflow
      %p Placeholder for information about workflow
      %p
        %a.btn.btn-primary.btn-lg{ :href=>"#{site.base_url}/pages/contrib/workflow.html" } View doc &raquo;
    .col-md-3
      %h2 Publishing
      %p Placeholder for information about Awestruct build and deploy
      %p
        %a.btn.btn-primary.btn-lg{ :href=>"#{site.base_url}/pages/contrib/publish.html" } View doc &raquo;
